*,
*::before,
*::after {
  box-sizing: border-box;
}

.es {
    padding: 20px;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.e {
    width: 160px;
    height: 160px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    padding: 20px;
    margin: 15px;
    background-color: rgba(255,255,255,0.03);
}

.tri__svg {
    width: 50px;
    fill: none;
    stroke: #0ff;
    stroke-width: 8;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: tri__svg 3s cubic-bezier(0.97, -0.79, 0.6, 1.72) infinite;
            animation: tri__svg 3s cubic-bezier(0.97, -0.79, 0.6, 1.72) infinite;
}
.tri__svg path {
    -webkit-animation: tri__svg-path 3s ease-in-out infinite;
            animation: tri__svg-path 3s ease-in-out infinite;
}

@-webkit-keyframes tri__svg {
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
@keyframes tri__svg {
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
@-webkit-keyframes tri__svg-path {
    80% {
      d: path("m 357.96554,634.61183 -0.11416,-30.90896 0.13497,-30.69471 31.03493,-0.12101 30.43241,-0.0357 0.0835,61.67973 z");
    }
}
@keyframes tri__svg-path {
    80% {
      d: path("m 357.96554,634.61183 -0.11416,-30.90896 0.13497,-30.69471 31.03493,-0.12101 30.43241,-0.0357 0.0835,61.67973 z");
    }
}